<script src="/static/js/assignment10.js"></script>
{% extends 'base.html' %}
{% block title %}
assignment 10-users
{% endblock %}

{% block content %}
    <h2>Insertion Form</h2>
        <form action="/insert_user" method="post">
           Nickname: <input type="text" name="nickname" placeholder="Nickname">
            Name: <input type="text" name="name" placeholder="Name">
            Email: <input type="email" name="email" placeholder="Email">
            <input type="submit" value="Insert User" onclick="insertAlert()">
        </form>

    <h2>Update form</h2>
        <form action="/update_user" method="post" >
            Which User : <input type="text" name="user_nickname">
            New Email: <input type="email" name="user_email">
            <input type="submit" value="Update" onclick="updateU()">
        </form>
    <hr>
    <h2>List Of Users</h2>
         <ul>
            {% for user in users  %}
                <li>
                    <form action="/delete_user" method="post" style="display: inline">
                    <input type="hidden"  name="D_nickname" value="{{ user.nickname }}">
                    <input type="submit" value="Delete user" onclick="deleteU()">
                    </form>{{ user.name }}, Email: {{ user.email }}, Nickname: {{ user.nickname }}</li>
            {% endfor %}
         </ul>

{% endblock %}