{% extends 'base.html' %}

{% block title %}
assignment 11- Outer Source
{% endblock %}

{% block content %}
<h1> Outer Source</h1>

    <h2> Request Frontend</h2>
        <script src="../static/js/assignment11.js"></script>

            <input type="number" name="number_frontend" id="id">
            <button onclick="getUsers()">Get User Profile</button>
        <main>
        </main>


    <h2> Request Backend</h2>

        <form action="/assignment11/outer_source">
            <input type="number" name="number">
            <input type="submit" value="Get User">
        </form>

    {% if User %}
        <h3> User {{ User.data.id }} :</h3>
        <img src="{{ User.data.avatar }}" alt="pic">
        <h4> Name: {{ User.data.first_name }}  {{ User.data.last_name }}</h4>
        <h4> Email: {{ User.data.email }}</h4>
    {% endif %}

{% endblock %}