<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/cv.css">
    <script src="/static/js/cv.js"></script>
    <title>CV Naor Pinto</title>
</head>
<body>
{% include 'header.html' %}
        {% if session.username%}
            <h2> Welcome Back,{{session.nickname}}</h2>
        {% endif %}
    <div id="GridContainer">
        <div id="header"> <br> Naor Pinto <br> 052-6265680 | naorpinto6@gmail.com | Herzliya </div>
        <div id="subtitle1">PROFILE</div>
        <div id="item1">Fourth-year Industrial Engineering and Management student specializing in Information Systems at Ben-Gurion University Of The Negev. <br>
            An achiever and fully motivated with a passion for data analysis.Brings experience in academic projects. <br>
             Enthusiastic and interested in the world of data and analytics and looking to fit into roles related to both.</div>
        <div id="subtitle2">TECHNICAL SKILLS</div>
        <div id="item2">SQL, Tableau, Power BI, Talend <br>
        MS-Office, Java, Python, R</div>
        <div id="subtitle3">SOFT SKILLS</div>
        <div id="item3">Team player with strong communication skills. <br>
            Organized with attention to details. <br>
            Great analytical skills and data orientation. <br>
            Independent, responsible with high work ethic. </div>
        <div id="subtitle4">EDUCATION</div>
        <div id="item4">Student, B.Sc. in Industrial Engineering and Management,Ben-Gurion University, Beer-Sheva. <br>
            Proficient in data analysis methods. <br>
            Proficient in SQL and BI tools: Tableau, Power BI, Talend. <br>
            Proficient in MS office (Expertise in Excel). </div>
        <div id="subtitle5">WORK EXPERIENCE:  <br> MAIN PROJECTS</div>
        <div id="item5">  During the BI course, I completed a project which included the establishment of a prototype for a BI / DW system that will support decision-making processes in the organization. <br>
             The project included the design and establishment of the data infrastructure and using BI tool for implementation</div>
        <div id="subtitle6">VOLUNTEERING</div>
        <div id="item6">Volunteering in the "Haverim Le'et Zikna" program, which aims to assist elders own a pet. <br>
             I helped my assigned elder take care of his pets in addition to diminishing his loneliness by spending time with him</div>
        <div id="subtitle7">LANGUAGES</div>
        <div id="item7">Hebrew- Native | English– Full professional proficiency</div>
        <div id="col1"> 2018-Present : </div>
        <div id="col2"> 2020-2021 : </div>
    </div>
    <div>
        <button id="Button" onclick="contact()">Contact Me</button>
    </div>
</body>
</html>

